@page "/my-chats"
@using HybridMessenger.Presentation.Services

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <!-- INPUT VALUES FOR PAGINATION -->
            <div class="input-area">
                <div class="form-group">
                    <label for="SearchValue">Search value:</label>
                    <InputText @bind-Value="_requestModel.SearchValue" class="form-control" id="SearchValue" />
                </div>
                <div class="form-group d-flex justify-content-start align-items-center">
                    <label for="SortBy" class="mr-2">Sort by:</label>
                    <select @bind="_requestModel.SortBy" class="form-control sort-by-dropdown">
                        <option value="ChatId">ID</option>
                        <option value="ChatName">Name</option>
                        <option value="IsGroup">Group/Private</option>
                        <option value="CreatedAt">Creation time</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="Ascending">Ascending:</label>
                    <InputCheckbox @bind-Value="_requestModel.Ascending" id="Ascending" />
                </div>

                <button class="btn btn-secondary" @onclick="LoadChats">Get all groups/private chats</button>
            </div>
        </div>

        <div class="col-md-4">
            <!-- CREATE GROUP -->
            <div class="input-area mini-form-padding">
                <div class="form-group">
                    <label for="NewChatName">Create group:</label>
                    <InputText @bind-Value="_groupNameToCreate" class="form-control" id="NewChatName" placeholder="Enter chat name" />
                </div>
                <button class="btn btn-secondary user-full-width-button" @onclick="CreateGroup">Create new group</button>
            </div>
        </div>

        <div class="col-md-4">
            <!-- CREATE PRIVATE CHAT -->
            <div class="input-area mini-form-padding">
                <div class="form-group">
                    <label for="NewPrivateChatUser">Create private chat:</label>
                    <InputText @bind-Value="_newPrivateChatUserName" class="form-control" id="NewPrivateChatUser" placeholder="Enter user name" />
                </div>
                <button class="btn btn-secondary user-full-width-button" @onclick="CreatePrivateChat">Create private chat</button>
            </div>
        </div>
    </div>
</div>



@if (_data != null && _data.Any())
{
    <table class="table" style="margin-top:50px">
        <thead>
            <tr>
                <th>Chat ID</th>
                <th>Chat name</th>
                <th>Is group</th>
                <th>Created At</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in _data)
            {
                <tr @onclick="() => RedirectToChatPage(item.ChatId)" style="cursor: pointer;">
                    <td>@item.ChatId</td>
                    <td>@item.ChatName</td>
                    <td>@item.IsGroup</td>
                    <td>@item.CreatedAt.ToString("yyyy-MM-dd HH:mm")</td>
                    <td>                     
                        @if (!item.IsGroup)
                        {
                            <button class="btn btn-danger" @onclick:stopPropagation="true" @onclick="() => DeleteChatById(item.ChatId)">Delete</button>
                        }
                        else
                        {
                            <button class="btn btn-primary" @onclick:stopPropagation="true" @onclick="() => ShowEditOptions(item)">Edit</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>You don't have any chats</p>
}


<div class="row">
    <div class="col-12">
        <div class="pagination-container">
            <div class="btn-group">
                <button class="btn btn-secondary" @onclick="PreviousPage">Previous</button>
                <button class="btn btn-secondary" @onclick="NextPage">Next</button>
            </div>
        </div>
    </div>
</div>

@if (_editMode)
{
    <div class="modal-backdrop">
        <div class="modal-content">
            <span class="close" @onclick="CloseAndRefresh">&times;</span>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" @bind="_groupNameToUpdate" placeholder="Enter new chat name" />
                    <button type="button" class="btn btn-success modal-button" @onclick="ChangeGroupName">Save Changes</button>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" @bind="_userNameToAddToGroup" placeholder="Enter username to add" />
                    <button type="button" class="btn btn-success modal-button" @onclick="AddMemberToChat">Add Member</button>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-danger modal-button" @onclick="DeleteChat">Delete Chat</button>
                </div>
            </form>

        </div>
    </div>
}