@page "/chatting/{ChatId}"
@using HybridMessenger.Presentation.Services
@using MudBlazor

@if (_data != null && _data.Any())
{
    <div class="scrollable-table">
        <table class="table" style="margin-top:50px">
            <thead>
                <tr>
                    @foreach (var field in _allUserDtoFields)
                    {
                        <th>@field</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var message in _data)
                {
                    <tr>
                        <td>@message.SenderUserName</td>
                        <td>@message.MessageText</td>
                        <td>@message.SentAt.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p>No data available.</p>
}

<div>
    <div >
        <div>
            <div class="input-area">
                <div class="form-group">
                    <label for="SendMessage">Input message text:</label>
                    <InputText @bind-Value="_messageText" class="form-control" id="SendMessage" />
                </div>
                <button class="btn btn-secondary user-full-width-button" @onclick="SendMessage">Send message</button>
            </div>
        </div>
    </div>
</div>