@page "/users"

<h3>All Users</h3>

<button class="btn btn-secondary" @onclick="LoadUsers">GetUsers</button>

<Blazorise.DataGrid TItem="UserDto"
                    ReadData="LoadUsers"
                    TotalItems="totalUsers"
                    Sortable="true"
                    Editable="false"
                    Filterable="false">
    <DataGridColumns>
        <DataGridColumn TItem="UserResponse" Field="@nameof(UserResponse.UserName)" Caption="Username" Sortable="true" />
        <DataGridColumn TItem="UserResponse" Field="@nameof(UserResponse.Email)" Caption="Email" Sortable="true" />
        <DataGridColumn TItem="UserResponse" Field="@nameof(UserResponse.CreatedAt)" Caption="Created At" Sortable="true" />
        <DataGridColumn TItem="UserResponse" Field="@nameof(UserResponse.PhoneNumber)" Caption="Phone Number" Sortable="true" />
    </DataGridColumns>
</Blazorise.DataGrid>
